/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

//hossein
header{
    border-bottom: 1px solid #EDEEF2;
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.5% 180px;
        @media(max-width:768px){
            width: 95%;
            padding: 1.5% 2%;
        }
        .left{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 30%;
            .search-box{
                background: #EDEEF2;
                border-radius: 12px;
                display: flex;
                align-items: center;
                @media(max-width:768px){
                    display: none;
                }
                input{
                    width: 70%;
                    border: none;
                    outline: none;
                    background: transparent;
                    margin: 10px 12px;
                }
            }
        }
        .right{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .navigation{
                padding-right: 16px;
                @media(max-width:768px){
                    display: none;
                }
                nav{
                    ul{
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        gap: 10px;
                        li{
                            &:nth-child(2){
                                border-right: 1px solid #EDEEF2;
                            }
                            a{
                                color: #2B2B43;
                            }
                        }
                    }
                }
            }
            .mail-image{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .mail{
                    // padding: 0% 10%;
                    margin-right: 10%;
                    position: relative;
                    background: #F3F4FF;
                    width: 65px;
                    height: 50px;
                    border-radius: 16px;
                    img{
                        position: absolute;
                        // padding: 16px;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%,-50%);

                    }
                    .notif{
                        text-align: center;
                        line-height: 14px;
                        font-size: 10px;
                        font-weight: 700;
                        width: 16px;
                        height: 14px;
                        position: absolute;
                        top: 0px;
                        right: 2px;
                        background: #4E60FF;
                        color: #fff;
                        border-radius: 15px;
                    }
                }
                .hamburger{
                    margin-left: 5%;
                    @media(min-width:768px){
                        display: none;
                    }
                }
            }
        }
    }
}